body {
  background: rgb(234, 245, 244);
}



hr {
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 50%;
    color: black;
}

#summary_page_text {
  margin-block-start: 2px;
  margin-block-end: 2px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 50px;
  background: brown;
}

#summary_page_image {
  margin-block-start: 2px;
  margin-block-end: 2px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 10px;

}


#indexheader {
  display: block;
  font-size: 2px;
  margin-block-start: 2px;
  margin-block-end: 2px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: brown;
}

.wrapper {
  border:1px solid red; 
  width:100%; 
  height:60px; 
  position:relative;
  white-space: nowrap;
  overflow: hidden;
  background: brown;

}


/* ----------------------------- */
/* This is for the Data Page     */
#data_table{
  background: seashell;

}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#data_table_header


.table{
  margin-left: auto;
  margin-right: auto;

}


/* End of Data Page              */
/* ----------------------------- */



/* ----------------------------- */
/* This is for the Summary Field */
.text-md-left { 
  padding: 10px;
  margin: auto;
  width: auto;
  height: auto;
  

}

#summary_image {
  padding: 15px;
  margin: auto;
  width: 50%;
  overflow: auto;
}

#summary_page_image {
  overflow: auto;
  background-color: seashell;
  padding: 15px;
  margin: auto rgb(234, 245, 244);
  display: block;
  border-style: solid;
  border-width: 15px;
  border-color: rgb(234, 245, 244);
}
/* End of Summary Field */
/* ----------------------------- */





/* ----------------------------- */
/* This is for Visualition Field */
#index_visual_text {
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: seashell;
}

.visual_box {
  padding: 10px;
  margin: 20px;
  width: auto;
  height: auto;
}

#visual_header {
  width: auto;
  display: block;
  font-size: 2.5rem;
  margin-block-start: auto;
  margin-block-end: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
  font-weight: bold;
  color: brown;
  text-align: center;
}

#visual_click_plot {
  width: 43%;
  height: 43%;
  padding: 10px;
  text-align: center;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}





/* End of Visualition Field */
/* ----------------------------- */






/* ----------------------------- */
/* This is for Comparison Field */
#comp_page_image {
  padding: 15px;
  text-align: center;
  color: brown;
  box-sizing: border-box;

  
}




#comp_click_plot {
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  max-width: 100%;
  height: auto;
}




/* End of Comparison Field */
/* ----------------------------- */









/* This is @Media Section */
/* ---------------------- */
@media (max-width: 991px) {
  #visual_header {
    width: auto;
    display: block;
    font-size: 1.75rem;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-weight: bold;
    color: brown;

  }

  #index_visual_text {
    margin: auto;
    width: 100%;
    padding: 10px;
    background-color: seashell;
  }



  #comp_click_plot {
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 100%;
    height: auto;
  }








}


@media (max-width: 500px) {
  #visual_header {
    width: auto;
    display: block;
    font-size: 1rem;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-weight: bold;
    color: brown;
  }

  #comp_click_plot {
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 80%;
    height: auto;
}


@media (max-width: 767px) {
  #comp_hr{
    border-top: 5px solid black;
    border-radius: 5px;
  }
}

   
/* End of @ Media Section */
/* ---------------------- */}